* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-ms-user-select: none;
	color: #ccc;
	background-color: #333;
	font-family: 'Barlow Semi Condensed', sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

@media (max-width: 700px) {
	html {
		font-size: 10px;
	}
}
